body {
    background: #ff9966;  /* for old browsers */
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* safare and chrome 10-25 */
    background: linear-gradient(to top, #ff5e62, #ff9966); /* chrome, firefox... */

}
.btn-login {
    background: linear-gradient(to top, #e75a5c, #ff6666);
    color: #fff;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td.buttons-pos {
    display: inline-flex;
    border: 0;
}

td.button-pos a {
    margin-right: 15px;
}

.inputfornotification {
    width: 500px;
    padding-bottom: 200px;
    font-size: 16px;
}

.card {
    background-color: rgba(12,12,12,0.5);
    color: #eee;
}
.card h4 {
    color: #eee;
}

.message {
    color: black; 
    padding: 5px; 
    border-radius: 5px; 
    margin: 5px; 
    position: absolute; 
    left: 10px;
    display: inline; 
}