
td.buttons-pos {
    display: inline-flex;
    border: 0;
}
td.button-pos a {
    margin-right: 15px;
}
.inputfornotification {
    width: 500px;
    padding-bottom: 200px;
    font-size: 16px;
}

.all-copy {
    -webkit-user-select: all;
    /* Chrome all / Safari all */
    -moz-user-select: all;
    /* Firefox all */
    -ms-user-select: all;
    /* IE 10+ */
    user-select: all;
    /* Likely future */
}
.btn-margin {
    margin: 0px 10px 0px 10px;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus,
a:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
}